body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

canvas {
  position: absolute;
  margin: 1em 2em;
}

.video {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: left;
      align-content: left;
  width: 720px;
  margin: 1em 2em;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 720px))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(400px, 720px));
  grid-auto-rows: minmax(626px, auto);
  width: 100vw;
}

.feed {
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  height: 560px;
  overflow: auto;
  margin-top: 1.1em;
}

.feed span {
  background-color: green;
  margin-right: 0.6rem;
  padding: 0.4rem 0.6rem;
  border-radius: 30px;
  color: white;
}

.feed .list {
  list-style: none;
  z-index: 2;
}

.feed .list li {
  margin-top: 1.1rem;
  scroll-margin-right: 3px;
  text-transform: capitalize;
}

.btn {
  margin: 0.75em 0.3em;
  width: 2.625rem;
  height: 2.625rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.btn i {
  font-size: 1.7rem;
}

.active {
  background-color: green;
}

.active i {
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f4f4f4;
  border-radius: 30px;
}

::-webkit-slider-thumb {
  background: white;
  border-radius: 30px;
  -webkit-transition: ease-in;
  transition: ease-in;
}

::-webkit-scrollbar-thumb:hover {
  background: green;
  border-radius: 30px;
  -webkit-transition: ease-in;
  transition: ease-in;
}
/*# sourceMappingURL=main.css.map */