$span-bcg-clr: green;
$span-txt-clr: white;
$feed-bcg-clr: #000;
@mixin video-position {
    margin: 1em 2em;
}

body {
    display: flex;
    margin: 0;
    padding: 0;
}

canvas {
    position: absolute;
    @include video-position;
}

.video {
    display: grid;
    align-content: left;
    width: 720px;
    @include video-position;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 720px));
    grid-auto-rows: minmax(626px, auto);
    width: 100vw;
}

.feed {
    align-items: left;
    height: 560px;
    overflow: auto;
    margin-top: 1.1em;
    span {
        background-color: $span-bcg-clr;
        margin-right: 0.6rem;
        padding: 0.4rem 0.6rem;
        border-radius: 30px;
        color: $span-txt-clr;
    }
    .list {
        list-style: none;
        z-index: 2;
        li {
            margin-top: 1.1rem;
            scroll-margin-right: 3px;
            text-transform: capitalize;
        }
    }
}

.btn {
    margin: 0.75em 0.3em;
    width: 2.625rem;
    height: 2.625rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    i {
        font-size: 1.7rem;
    }
}

.active {
    background-color: $span-bcg-clr;
    i {
        color: $span-txt-clr;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f4f4f4;
    border-radius: 30px;
}

::-webkit-slider-thumb {
    background: $span-txt-clr;
    border-radius: 30px;
    transition: ease-in;
}

::-webkit-scrollbar-thumb:hover {
    background: $span-bcg-clr;
    border-radius: 30px;
    transition: ease-in;
}